project_id = "yquttchxjkhclipqhbze"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
port = 54327
image_transformation.enabled = true

[auth]
enabled = true
port = 54328

[functions]
enabled = true
port = 54329

[functions.ai-chat]
verify_jwt = true

[functions.send-emergency-sms]
verify_jwt = true

[functions.text-to-speech]
verify_jwt = true

[functions.speech-to-text]
verify_jwt = true